 .card {
            background-color: rgb(204, 185, 227);
            padding: 10px;
            align-items: center;
            width: 200px;
            height: 140px;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 4px 4px rgb(159, 131, 202);

        }
